.submit_box {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px; 
    height: 300px;
    background-color: #7AA899; 
    border-radius: 40px;
    margin-bottom: 30px;
}

.submit_h2 {
    font-size: 30px;
    color: #27263D;
    margin-bottom: 30px;
}

.author_box{
    margin-bottom: 10px; 
}

.text_box{
    margin-bottom: 30px;
}

input{
    background:  #27263D;
    border: none;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 15px;
    color: #7AA899;
}

.btn_sub {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    color: #7AA899; 
    border: none;
    background:  #27263D;
    cursor: pointer;
}

.btn_sub:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
